<template name="dialogs">
    <div class="row send-link" id="sendLinkCard">
        <div class="col s12 m6 offset-m3 l4 offset-l4">
            <div class="card blue-grey z-depth-5">
                <div class="card-content white-text darken-2">
                    <span class="card-title">Welcome to FindMe</span>

                    <p>FindMe helps you meet up with people. <br/>Share your link with someone to see them on your map:
                    </p>
                    <a href="{{urlFor route='session' data=sessionIdUrlData}}"
                       class="session-link">{{urlFor route='session' data=sessionIdUrlData}}</a>

                    <p>You can find this link later in the side menu. </p>

                </div>
                <div class="card-action">
                    <a href="#" id="closeLinkCard">OK, Got it</a>

                </div>
            </div>
        </div>
    </div>
    <div class="row send-link" id="firstUseCard">
        <div class="col s12">
            <div class="card blue-grey z-depth-5">
                <div class="card-content white-text darken-2">
                    <span class="card-title">Welcome to Find Me</span>

                    <p>The person who sent you this link would like to see your location. Only proceed if you trust
                        the person that sent this to you.
                    </p>

                </div>
                <div class="card-action">
                    <a href="#" id="firstUseAgree">Share Location</a>
                    <a href="#" id="firstUseCancel">No Thanks</a>
                </div>
            </div>
        </div>
    </div>
</template>