<template name="Home">
    <div id="menu">
        <nav class="blue-grey">
            <div class="nav-wrapper">
                <i class="mdi-action-settings">
                    <a href="#" class="brand-logo">Settings</a>
                </i>
            </div>
        </nav>
        <div class="menu-content">

            <div class="input-field ">

                <input id="name" type="text" class="form-control" placeholder="Name" autocomplete="off" maxlength="50"/>
            </div>

            <!--<div class="input-field">
                <input id="placeSearch" class="controls" type="text" autocomplete="off" placeholder="Search Nearby">
            </div>-->
            {{#if showMeetingTextBox}}
                <div class="input-field">
                    <input id="meetMeMessage" class="controls" type="text" placeholder="Meet me message" autocomplete="off" maxlength="255">
                </div>
            {{/if}}
<!--            <div class="row">

                <div class="col s12">

                    <h6>Location Accuracy:</h6>

                    <div class="switch">
                        <label>
                            Low
                            <input type="checkbox" name="accuracy" checked="checked">
                            <span class="lever"></span>
                            High
                        </label>
                    </div>
                </div>

            </div>
            <hr/>-->
            <div class="row">
                <div class="col s12">
                    Copy your link and share it with your friend:
                    <a href="{{urlFor route='session' data=sessionIdUrlData}}" class="wrap-hyperlink">{{urlFor route='session' data=sessionIdUrlData}}</a>
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col s12 ">
                    <a class="waves-effect waves-light btn red" id="deleteMe"><i class="material-icons left">delete</i>Remove
                        Me</a>
                </div>
            </div>

        </div>
    </div>

    <div id="panel">
        <div class="navbar-fixed" id="fixedNav">
            <nav class="blue">
                <div class="nav-wrapper">
                    {{#if notViewOnly}}
                        <div class="menu-trigger">
                            <i class="waves-effect waves-light material-icons">view_headline</i>

                        </div>
                    {{/if}}
                    <a href="#" class="brand-logo">FindMe</a>

                </div>
            </nav>
        </div>


        {{> dialogs sessionIdUrlData=sessionIdUrlData}}
        {{> map}}
        <a class="btn-floating btn-large waves-effect waves-light blue" id="refreshPanZoom"><i class="material-icons">my_location</i></a>
    </div>
    <div id="statusBar"></div>
</template>