.menu-trigger {
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 1;
}

.menu-content {
    padding: 10px;
}

nav {
    padding-left: 10px;
}

.send-link {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: none;
}

.send-link .card {
    margin: 100px 5% 0 5%;
}

.close-box-button {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
}

.brand-logo {
    left: 40px;
}

.wrap-hyperlink {
    word-wrap: break-word;
}

#refreshPanZoom {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#fixedNav {
    /*this is to offset the navbar against the fullscreen map sizing technique*/
    height: 0;
}

#toast-container{
    overflow: hidden;
}

.location-switch{
    position: absolute;
    right: 30px;
}

.location-switch label{
    color: #fff;
}

#statusBar{
    position: absolute;
    height: 30px;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #6e6e6e;
    padding: 2px 10px;
    z-index: 2;
    font-size: 80%;
    line-height: 26px;
    text-align: center;
}