<template name="instructions">
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        Your browser is requesting your permission to access your location. When you allow access, you will appear on
        the map.
    </div>
</template>