<template name="locStatusBar">
    <div class="row ">
        <div class="col s12">
            Latitude: {{loc.coords.latitude}}
        </div>
        <div class="col s12">
            Longitude: {{loc.coords.longitude}}
        </div>
        {{#if loc.coords.altitude}}
            <div class="col s12">
                Altitude: {{loc.coords.altitude}}
                {{#if loc.coords.altitudeAccuracy}}
                    (within {{loc.coords.altitudeAccuracy}}m)
                {{/if}}
            </div>
        {{/if}}
        {{#if loc.coords.accuracy}}
            <div class="col s12">
                Location Accuracy: {{loc.coords.accuracy}}m
            </div>
        {{/if}}
        {{#if loc.coords.heading}}
            <div class="col s12">
                Heading: {{loc.coords.heading}}
            </div>
        {{/if}}
        {{#if loc.coords.speed}}
            <div class="col s12">
                Speed: {{loc.coords.speed}}
            </div>
        {{/if}}
    </div>

</template>