html, body, .jPanelMenu-panel, #mapCanvas {
    margin: 0;
    padding: 0;
    height: 100%;
}

#panel{
    margin-bottom: 30px; /*Allow for status bar at bottom*/
    height: calc(100% - 30px)
}

@media only screen and (min-width: 601px) {
    #mapCanvas {
        padding-top: 64px; /*height of the nav bar*/
    }
}

#mapCanvas {
    padding-top: 40px; /*height of the nav bar*/
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}